# Files for language summary
*.md linguist-language=Markdown linguist-detectable=true
*.HEIC linguist-language=Image linguist-detectable=true
*.png linguist-language=Image linguist-detectable=true
*.jpg linguist-language=Image linguist-detectable=true
*.jpeg linguist-language=Image linguist-detectable=true
*.PNG linguist-language=Image linguist-detectable=true
*.JPG linguist-language=Image linguist-detectable=true
*.JPEG linguist-language=Image linguist-detectable=true
